body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #141f2b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-div {
    flex: 1;
    text-align: center;
    align-items: center;
    color: wheat;
}

.header {
    background: #214d7b;
    padding: 10px;
    margin-top: 0;
}

.webcontainers-parts-container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.pumpkin {
    position: absolute;
    top: 85%;
    left: -100px; /* Start außerhalb des Bildschirms */
    width: 100px;
    height: 100px;
    background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.pngmart.com%2Ffiles%2F3%2FHalloween-Pumpkin-Transparent-Background.png&f=1&nofb=1&ipt=e0782bed3e3692b8624f651acbceebf822ce96830a89f1ed4a13e70dc14f55e7&ipo=images');
    background-size: cover;
    animation: movePumpkin 10s linear infinite;
}

/* Animation */
@keyframes movePumpkin {
    0% {
        left: -100px;
    }
    50% {
        left: calc(100% - 110px); /* Kürbis geht nach rechts */
    }
    100% {
        top: -3px;
        left: -100px; /* Kürbis geht wieder zurück nach links */
    }
}

.webcontainer {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    background-color: #214d7b;
    height: 70px;
    transition: height 1s ease;
    width: 95%;
    margin: auto;
    margin-top: 0px;
    transition: height 1s ease, background-color 1s ease;
}

.webcontainer:hover {
    background-color: #2d68a8;
    transition: height 1s ease, background-color 1s ease;
}



.shortcut:hover {
    background-color: #2d68a8; /* Change la couleur de fond au survol */
    transform: translateY(20px) scale(1.1); /* Grossir de 10% */
}

.webcontainer-text-container{
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
    column-gap: 0fr;
}

.webcontainer-rightsection{
    margin-right: 10px;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.webcontainer-rightsection a{

    color: white;
    text-decoration: none;
}

#left-part-title{
    padding-left:90px;
}

.shortcut img{
    max-width: 50px;
    max-height: 50px;
}

.shortcut h4, h5, h6 {
    color: white;
    margin-top: 0px;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.shortcut:nth-child(1) {
    animation-delay: 0.2s;
}

.shortcut:nth-child(2) {
    animation-delay: 0.4s;
}

.shortcut:nth-child(3) {
    animation-delay: 0.6s;
}

.shortcut:nth-child(4) {
    animation-delay: 0.8s;
}
.shortcut:nth-child(5) {
    animation-delay: 1s;
}
.shortcut:nth-child(6) {
    animation-delay: 1.2s;
}

.shortcut a {
    text-decoration: none;
    color: black;
}

.shortcuts-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    gap: 20px;
    padding: 0px;
    width: 100%;
    margin: auto;
}

.shortcut {
    flex: 1 1 100%; 
    max-width: 100%;
    text-align: center;
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    transition: background-color 0.3s;
}

.shortcut {
    margin: auto;
    background-color: #214d7b;
    width: 70px;
    height: 70px;
    color: white;
    border-radius: 5px;
    opacity: 0; 
    transform: translateY(20px); /* Pour l'animation d'apparition */
    animation: appear 0.5s forwards;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Ajoute 'transform' pour l'animation */
}

.shortcut img {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Pour les écrans plus larges : 2 éléments par ligne */
@media screen and (min-width: 300px) {
    .shortcut {
        flex: 1 1 calc(50% - 20px); /* 2 éléments par ligne */
        max-width: calc(50% - 20px);
    }
}

/* Pour les très grands écrans : 3 éléments par ligne */
@media screen and (min-width: 500px) {
    .shortcut {
        flex: 1 1 calc(33.33% - 20px); /* 3 éléments par ligne */
        max-width: calc(33.33% - 20px);
    }
}

@media screen and (max-width: 800px) {
    .webcontainer {
        display: none;
    }
    .webcontainers-parts-container{
        display:unset;
    }

}


.shortcuts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px;
    width: 90%;
    margin: auto;
    margin-top: 20px;
}

.webcontainer .closed_embed {
    margin-top: -30px;
    width: 90%;
    height: 0px; 
    transition: height 1s ease, margin-top 1s ease, opacity 1s ease;
    opacity: 0;
}

.webcontainer .open_embed {
    margin-top: -5px;
    opacity: 0.8;
    width: 90%;
    height: 600px;
    transition: height 1s ease, margin-top 1s ease, opacity 1s ease;
}

hr {
    color: #214d7b;
}

.footer {
    cursor: pointer;
    color: #fff;
    padding: 20px;
    text-align: center;
    background-color: #214d7b; 
    position: relative; 
    width: 1fr;
}

.footer img{
    max-width: 100px;
}


