body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #141f2b;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-div {
    flex: 1;
    text-align: center;
    align-items: center;
    color: wheat;
}

.header {
    background: #214d7b;
    padding: 10px;
    margin-top: 0;
}

.webcontainers-parts-container {
    display: grid;
    grid-template-columns: 0.6fr 0.4fr;
}

.webcontainer {
    padding: 10px;
    border-radius: 5px;
    background-color: #214d7b;
    height: 70px;
    transition: height 1s ease;
    width: 95%;
    margin: auto;
    margin-top: 0px;
}

.shortcut {
    margin: auto;
    background-color: #214d7b;
    width: 70px;
    height: 70px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transform: translateY(20px);
    animation: appear 0.5s forwards;
}

.shortcut h4, h5, h6 {
    color: white;
    margin-top: 0px;
}

@keyframes appear {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.shortcut:nth-child(1) {
    animation-delay: 0.2s;
}

.shortcut:nth-child(2) {
    animation-delay: 0.4s;
}

.shortcut:nth-child(3) {
    animation-delay: 0.6s;
}

.shortcut:nth-child(4) {
    animation-delay: 0.8s;
}

.shortcut:nth-child(5) {
    animation-delay: 1s;
}

.shortcut a {
    text-decoration: none;
    color: black;
}

.shortcut img {
    width: 50px;
    height: 50px;
}

.shortcuts-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 0px;
    width: 90%;
    margin: auto;
}

.webcontainer .closed_embed {
    margin-top: 0px;
    width: 90%;
    height: 0px; /* Utilisez 0px pour éviter de rendre la section visible */
    transition: height 1s ease, margin-top 1s ease, opacity 1s ease;
    opacity: 0;
}

.webcontainer .open_embed {
    margin-top: 25px;
    opacity: 1;
    width: 90%;
    height: 600px;
    transition: height 1s ease, margin-top 1s ease, opacity 1s ease;
}

hr {
    color: #214d7b;
}

.footer {
    color: #fff;
    padding: 10px;
    text-align: center;
    background-color: #214d7b; 
    position: relative; 
    width: 100%; /* S'assurer que le footer prend toute la largeur */
}

@media (max-height: 600px) {
    .footer {
        position: fixed; /* Fixe le footer au bas de la fenêtre */
    }
}
