<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/styles-index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP2I Main</title>
</head>
<body>
    <div class="main-div">
    <div class="header">
    <h1>MP2I - Raccourcis</h1>
    </div>
    <div style="margin-top: 20px;" class="webcontainers-parts-container">
    <div class="left-part webcontainer" id="left-part-webcontainer">
        <div class="webcontainer-text-container">
        <h2 id="left-part-title">Site de Mathématiques</h2>
        <div class="webcontainer-rightsection">
        <a id="right-part-title" alt="Dérouler">˅</a>
        <a href="https://mp2icamilleguerin.blogspot.com/" target="_blank" alt="Ouvrir dans une nouvelle fenêtre">↗</a>
    </div>
        <h2></h2>
    </div>
        <div>
        <embed class="closed_embed" src="https://mp2icamilleguerin.blogspot.com/" id ="left-part-embed">
        </div>
        
    </div>
    <div class="right-part" id="right-part-webcontainer">
    <div class="shortcuts-container">
        <div class="shortcut">
        <a href="https://cahier-de-prepa.fr/mp2i-guerin" target="_blank"><img src="/static/icons/physique.png" alt="Physique"><h4>Physique</h4></a>
    </div>

    <div class="shortcut">
        <a href="https://link.infini.fr/tp-info-cg" target="_blank"><img src="/static/icons/nuage.png" alt="Nuage"><h4>Nuage</h4></a>
    </div>

    <div class="shortcut">
        <a href="https://www.france-ioi.org/algo/chapters.php" target="_blank"><img src="/static/icons/france-ioi.jpg" alt="FranceIOI"><h5>France-IOI</h5></a>
    </div>
    <div class="shortcut">
        <a href="https://www.wolframalpha.com/" target="_blank"><img src="/static/icons/wolframalpha.png" alt="WolframAlpha"><h6>Wolfram Alpha</h6></a>
    </div>

    
    <div class="shortcut">
        <a href="https://jeunes.nouvelle-aquitaine.fr/formation/au-lycee/lycee-connecte-ent" target="_blank"><img src="/static/icons/lyceeconnecte.png" alt="lyceeconnecté"><h6>Lycée Connecté</h6></a>
    </div>
    </div>
    </div>
</div>
<br>

<!--
<div class="pumpkin"></div>
<hr>
<h3>Infos Sympathiques</h3>
<p style="font-size: 20px; width: 80%; margin:auto;">     <b>Pass Piscines & Patinoire :</b> Poitiers propose un pass destinés aux étudiants. Il suit un système de points : 50 points (17.40euros) = 4.5 entrées à la patinoire (location de patins incluse) ou environ 10 entrées à la piscine.</p>

<br>
<hr>
<h3>Fiches de révision</h3>
<p style="font-size: 20px; width: 80%; margin:auto;">Personne n'a partagé de fiches pour le moment.</p>

    

<br>
<hr>-->
</div>
<div class="footer">
    <img src="/static/icons/lydre.png" alt="">
<p style="margin:auto;"><i>Service proposé par Lydre.</i></p>
</div>
<script src="static/JS/index.js"></script>
</body>
</html>
