<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/CSS/styles-index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MP2I Main</title>
</head>
<body>
    <div class="main-div">
    <div class="header">
    <h1>MP2I</h1>
    </div>
    <h2>Index</h2>
    <div class="webcontainers-parts-container">
    <div class="left-part webcontainer" id="left-part-webcontainer">
        <div class="webcontainer-text-container">
        <h2 id="left-part-title">Site de Mathématiques</h2>
        <h2 id="right-part-title">˅</h2>
    </div>
        <div>
        <embed class="closed_embed" src="https://mp2icamilleguerin.blogspot.com/" id ="left-part-embed">
        </div>
        
    </div>
    <div class="right-part" id="right-part-webcontainer">
    <div class="shortcuts-container">
        <div class="shortcut">
        <a href="https://cahier-de-prepa.fr/mp2i-guerin" target="_blank"><img src="/static/icons/physique.png" alt="Physique"><h4>Physique</h4></a>
    </div>

    <div class="shortcut">
        <a href="https://link.infini.fr/tp-info-cg" target="_blank"><img src="/static/icons/nuage.png" alt="Nuage"><h4>Nuage</h4></a>
    </div>

    <div class="shortcut">
        <a href="https://www.france-ioi.org/algo/chapters.php" target="_blank"><img src="/static/icons/france-ioi.jpg" alt="FranceIOI"><h5>France-IOI</h5></a>
    </div>
    <div class="shortcut">
        <a href="https://www.wolframalpha.com/" target="_blank"><img src="/static/icons/wolframalpha.png" alt="WolframAlpha"><h6>Wolfram Alpha</h6></a>
    </div>

    
    <div class="shortcut">
        <a href="https://jeunes.nouvelle-aquitaine.fr/formation/au-lycee/lycee-connecte-ent"><img src="/static/icons/lyceeconnecte.png" alt="lyceeconnecté"><h6>Lycée Connecté</h6></a>
    </div>
    </div>
    </div>
</div>
</div>
<div class="footer">

<p style="margin:auto;"><i>Made by tilook - Lydre</i></p>
</div>
</body>
</html>
